.userPhotoTitle h1{
    color: #a200ff;
    text-align: center;
}
.PhotosCardDiv{
    margin: 15px;
}
.UserPhotoNoPhoto {
    margin: auto;
}
.UserPhotosCardDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}