.subscribe{
    width: 600px;
    height: 630px;
    border: 1px solid #a200ff;
    margin: 20px 0;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0,0.7);
    border-radius:7px ;

}
.subscribestatus{
    width: 600px;
    height: auto;
    border: 1px solid #a200ff;
    border: 1px solid #a200ff;
    margin: 20px 0;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0,0.7);
    border-radius:7px ;
}
.subscribedata{
    width: 100%;
    padding-right:  15px;
    max-height: 60px;
    border-bottom: 1px solid #a200ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribepoststatus{
    padding:20px;
}
.subscribepost{
    width: 100%;
    height: 500px;
}
.subscribepost img{
    width: 100%;
    height: 100%;
}
.subscribedata img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.subscribeuserdata {
    display: flex;
    align-items: center;
}
.subscribeuserdatanamesuernam{
    display: flex;
    width: 70px;
    justify-content: center;
    margin-left: 54px;
}
.subscribeuserdatanamesuernam p{
    margin:0 5px ;
}
.subscribeuserdate{
    margin:auto 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0px;
}
.subscribelike{
    width: 100%;
    border-top: 1px solid #a200ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

@media only screen and (max-width: 600px) {
   .subscribe{
       width: 100%;
       height: 100%;
   }
   .subscribepost{
    width: 100%;
    height: 300px !important;
    }
    .subscribestatus{
        width: 100%;
    }
    .subscribepost img{
        object-fit: cover;
    }
    .subscribepoststatus{
        padding: 0;
    }
    .subscribeuserdate{
        font-size: 10px;
        margin-bottom: 4px;
    }
    .subscribeuserdatanamesuernam{
        font-size: 10px;
        margin-left: 20px;
    }
  }
