
.carusel{
    width: 572px;
    max-height: 535px;
    border: 1px solid #a200ff;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    background-color: white;
}
.Likecomment{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.caruselTextp{
    width: 330px;
}
.Likecomment div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.carusel{
    display: flex;
}
.carusel button{
    width: 20px;
    height: 23px;
    margin: auto -10px;
    border: 1px solid #a200ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    background-color: white;
    outline: none;
    position: relative;
    z-index: 999;
}
.carusel button:hover{
    background-color: #a200ff;
    color: white !important;

}
.carusel button:hover i{
    color: white !important;
} 
.caruselTextDiv{
  margin-top: 20px;
}
.carusel button i{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 25px;
    margin: auto;
    font-size: 25px;
}

.caruselitem{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.Caruselitemimg{
    position: relative;
    width: 100%;
    height: 81%;
}
.Caruselitemimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.closeCarusle{
    position: absolute;
    right: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    z-index: 1000;
}

.closeCarusle:hover{
    color: white;
    border-bottom-left-radius: 7px;
    background-color: red;
}

.caruselText{
    display: flex;

}
.caruselTextData{
    text-align: right;
    width: 150px;
    font-size: 10px;
}
.caruseComment{
    position: absolute;
    width: 290px;
}
.caruseComment textarea{
    resize: none;
    width: 260px;
}

.commentdiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.commentsend{
    width: 100px  !important;
    height: 30px !important;
}

@media only screen and (max-width: 600px) {
    .carusel{
        width: 100%;
    }
    .carusel button{
        height: 330px;
        border: none;
        box-shadow: none;
        opacity: 0;
    }
    .Likecomment{
        margin: 0;
    }
    .caruselText{
        margin: 10px;
    }
  }
