.carusel{
    width: 60%;
    max-height: 700px;
    border: 1px solid #a200ff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    background-color: white;
    
}
.carusel{
    display: flex;
}
.carusel button{
    width: 40px;
    height: 70px;
    margin: auto 10px;
    border: 1px solid #a200ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    background-color: white;
    outline: none;
    position: relative;
}
.carusel button:hover{
    background-color: #a200ff;
    color: white !important;

}
.carusel button:hover i{
    color: white !important;
} 
.carusel button i{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    font-size: 25px;
}

.caruselitem{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.Caruselitemimg{
    width: 70%;
    height: 90%;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    top: 0;
    bottom: 0;
    margin: auto;    
}
.Caruselitemimg img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.closeCarusle{
    position: absolute;
    right: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.closeCarusle:hover{
    color: white;
    border-bottom-left-radius: 7px;
    background-color: red;
}
.caruselTextDiv{
    position: absolute;
    right: 0; 
    width: 30%;
    height: 100%;
}
.caruselText{
    margin: 15px;
}
.caruselTextData{
    text-align: right;
    font-size: 13px;
}
.caruselTextp{
    height: 100px;
    width: 100%;
    overflow-y: scroll;
}
.caruseComment{
    position: absolute;
    width: 290px;
}
.caruseComment textarea{
    resize: none;
    width: 260px;
}

.commentdiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.commentsend{
    width: 100px  !important;
    height: 30px !important;
}