.home{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texAreahome{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.followerfollowinghome {
    margin-bottom: 80px !important;
    width: 600px;
    border: 1px solid #a200ff;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.followerfollowinghome div{
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.followerfollowinghome div p{
    margin: 0 30px;
    display: flex;
    align-items: center;
}
.texAreahome textarea{
    width: 600px;
    resize: none;
    border: 1px solid #a200ff;
    box-shadow: 0 8px 16px 0 rgba(32, 32, 32, 0.3);
    outline: none;
}
.textAreaHomebutton{
    display: flex;
    width: 600px;
    justify-content: flex-end;
}
.textAreaHomebutton button{
    margin-top: 15px;
    border: 1px solid #a200ff;
    width: 80px;
    height: 30px;
    background-color: white;
    outline: none;

}
.followerfollowinghomemobile{
    display: none;
}
@media only screen and (max-width: 600px) {
    .texAreahome textarea{
        width: 100%;
    }
    .home{
        width: auto;
    }
    .textAreaHomebutton{
        width: 100%;
    }
    .followerfollowinghome{
        display: none;
    }
    .followerfollowinghomemobile{
        display: block;
        width: 100%;
        margin-bottom: 80px !important;
        border: 1px solid #a200ff;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .followerfollowinghomemobile div {
        width: 50px ;
        height: 20px;
        display: flex;
        justify-content: space-around;
    }
    .followerfollowinghomemobile  p{
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: -2px;
    }
  }
