.NavBar{
    background-color: #a200ff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
ul{
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    margin-right: 50px;
}
li{
    margin: 0 35px;
}
 li i{
    color: white;
    position: absolute;
    margin-left: -24px;
    margin-top: 3px;
}
.logOut i{
    margin-left: 13px;
    margin-top: 4px;
}
.link{
    color: white !important;
}
.NavBar button{
    display: none;
}

@media only screen and (max-width: 600px) {
    .NavBar button {
        display: block;
        margin: auto;
        border:none;
        width: 50px;
        height: 50px;
        background-color: #a200ff;
        color: white !important;
        align-items: center;
        justify-content: center;
        display: flex;
        outline: none;
    }
    .NavBar button i{
        color: wheat;
        width:10px;
        height: 10px;
    }
    ul{
        display: none;
    }
    .NavBar{
        display: flex;
        justify-content: start;
    }
  }